.user-complement{
    background: #ebebeb;
    border-radius: 11px;
  }
  .user-complement--cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
  }
h1{
    font-size: 60px;
    color: #333;
    text-align: center; 
    font-weight: 100;
}
h2 {
    font-size: 41px;
    color: #333;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 1em;
}
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }